.VendingMachine {
  background-color: #0099CC;;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}

.VendingMachine a {
  padding: 0.5em 0;
  width: 10em;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.VendingMachine a:hover {
  border-radius: 5px;
  background-color: rgb(45, 7, 159);
  color: white !important;
}

.VendingMachine a.active {
  font-weight: bold;
  color: rgb(45, 7, 159);
}
